<div class="header">
  <h1 routerLink="/shop" style="outline: none; cursor: pointer;">Sneaker shop</h1>
  <div class="header_links">
    <button mat-icon-button routerLink="/shop">
      <mat-icon>store</mat-icon>
    </button>
    <button mat-icon-button routerLink="/cabinet">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button routerLink="/cart">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button routerLink="/login">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</div>
